#game-board img {
    width: 10%;
    height: 10%;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

#game-board {
    width: auto;
    height: auto;
}

h1, p {
    text-align: center;
}

body {
    background-color: #98ccff;
}
